 /* Global styling */
 :root {
    --fs-s: 1.5rem;
    --fs-m: 2rem;
    --clr-rb: #141e30;
    --clr-rb2: #243b55;
    --clr-font_header: #fff;
    --clr-font_body: #b9b9b9;
    --clr-font_link: #005d81;
 }
 
 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
 }
 
 /* Nav styling */
.navbar {
  overflow: hidden;
  background-color: var(--clr-rb);
  width: 100%
}

.navbar a {
  float: left;
  font-size: var(--fs-s);
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: var(--fs-s);
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: var(--clr-rb2);
}

.subnav-content {
  display: none;
  position: absolute;
  top: 56px;
  left: 0;
  background-color:var(--clr-rb2);
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
} 

/* Main styling */
body {
  background: linear-gradient(45deg, var(--clr-rb), var(--clr-rb2));
  font-family: var(--ff-primary);
  font-size: var(--fs-m);
  color: var(--clr-primary);
  min-height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  place-items: center;
}

.welcome {
  color: var(--clr-font_header);
}