main {
  display: grid;
  place-items: center;
  gap: 2rem;
  height: 90vh;
}

.about {
    background-color: var(--clr-rb);
    width: 40%;
}

.about__header {
  font-size: 2rem;
  color: var(--clr-font_header);
  padding-top: 2rem;
  padding-left: 2rem;
}

.about__text {
  font-size: var(--fs-s);
  color: var(--clr-font_body);
  padding-inline: 2rem;
  padding-bottom: 2rem;
}

.about__list {
  list-style-position: inside;
  margin: none;
}

a {
  color: var(--clr-font_link);
}

@media (max-width: 768px) {
  .about {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1184px) {
  .about {
    width: 80%;
  }
}