/* Main styling */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    width: clamp(5rem, 20vw, 15rem);
}

/* Project cards */

.cards {
    width: 66%
}

.card {
    background-color: var(--clr-background_card);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.2);
    overflow: hidden;
    transition: 0.5s ease-in-out;
    max-height: 10rem;
    text-decoration: none;
}

.card__content {
    display: flex;
    justify-content: space-between;
}

.card__title {
    text-decoration: underline;
    color: var(--clr-font_link);
    font-size: clamp(3rem, 2vw, 4rem);
    cursor: pointer;
}

.card__description {
    color: var(--clr-font_body);
    font-size: var(--fs-s);
}

/* Responsivity */

@media (max-width: 768px) {
    .cards {
        width: 100%;
        padding: 1rem;
        padding-inline: 3rem;
    }

    .card {
        max-height: 30rem;
    }

    .card__content {
        flex-direction: column;
    }

    .card__content img {
        width: 50%;
    }

    .description {
        font-size: var(--fs-xs);
    }
}

@media (min-width: 768px) and (max-width: 1184px) {
    .cards {
        width: 75%;
    }

    .card {
        max-height: 20rem;
    }

    .card__content {
        flex-direction: column;
    }

    .card__content img {
        width: 25%;
    }

    .description {
        font-size: var(--fs-xs);
    }
}

@media (min-width: 1184px) {
    .card:hover {
        max-height: 20rem;
    }

    .cards:hover .card:not(.card:hover) {
        opacity: 0.5;
        filter: blur(1.5px);
    }
}