main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    width: 75%;
}

.cards {
    width: 50%
}

.card {
    background-color: var(--clr-background_card);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.2);
    overflow: hidden;
    transition: 0.5s ease-in-out;
    max-height: 8rem;
    text-decoration: none;
}

.card a {
    text-decoration: none;
}

.card:hover {
    max-height: 20rem;
    cursor: pointer;
}

.cards:hover .card:not(.card:hover) {
    opacity: 0.5;
    filter: blur(1.5px);
}

.card__content {
    display: flex;
    justify-content: space-between;
}

.title {
    color: var(--clr-font_header);
    font-size: var(--fs-m);
}

.description {
    color: var(--clr-font_body);
    font-size: var(--fs-s);
}

@media screen and (max-width: 768px) {
    img {
        width: 125%;
    }

    .cards {
        width: 100%;
    }

    .card {
        max-height: 10rem;
    }

    .description {
        font-size: var(--fs-xs);
    }
}